<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">

<title>Appfolio Search</title>
<link rel="apple-touch-icon-precomposed" href="/media/JB.svg">
<meta name="msapplication-TileImage" content="/media/JB.svg">

<!--<link type="text/css" rel="stylesheet" href="/style.css">-->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TVRTSZH');</script>
<!-- End Google Tag Manager -->

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVRTSZH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<main>
	<section>
		<form action="search.js" method="post" id="appfolio-search" class="form login-system" autocomplete="off">
			<div class="form-item subdomains">
				<input name="subdomains" class="form-input" type="text" placeholder="Subdomains: solarentals, rayrobertsrealty, ..." maxlength="128">
			</div>
			<div class="form-item search-string">
				<input name="search-string" class="form-input" type="text" placeholder="Search" maxlength="128">
			</div>
			<div class="form-item options">

				<input type="radio" id="contactChoice1" name="contact" value="email">
    		<label for="contactChoice1">Depth</label>

    		<input type="radio" id="contactChoice1" name="contact" value="email">
    		<label for="contactChoice1">Delay</label>

			</div>
			<div class="form-item submit">
				<button id="submit-btn" class="form-btn" type="submit">Search</button>
			</div>
		</form><!-- /#appfolio-search -->
	</section>
</main>

<!--<script type="text/javascript" src="/scripts.js"></script>-->

</body>
</html>